# OUTLINE
- [1- Analyse data](#1)
- [2- Arrange the dataset](#2)

In [1]:
from Class import *

In [2]:
g_scores=pd.read_csv('genome-scores.csv')
g_tags=pd.read_csv('genome-tags.csv')
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

<a name=1></a>
# 1) - Analyse data

we output the all value of dataframe to get information about how are data organized

In [3]:
print('ratings')
print('--------')
print(ratings, '\n')

print('tags')
print('--------')
print(tags, '\n')

print('movies')
print('--------')
print(movies, '\n')

print('links')
print('--------')
print(links, '\n')

print('g tags')
print('--------')
print(g_tags, '\n')

print('g scores')
print('--------')
print(g_scores,'\n')

ratings
--------
          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

tags
--------
         userId  movieId                  tag   timestamp
0             3      260              classic  1439472355
1             3      260               sci-fi  1439472256
2             4     1732          dark comedy  1573943598
3             4     1732       great dialogue  1573943604
4             4     7569     so bad it's good  1573943455
...         ...      ...                  ...         ...
1093355  162521    66934  Neil Patrick Harris  1427311611
1093356  162521   103341     cornetto trilogy  1427311259
1093357  162534   189169               comedy  1527518175
1093358  162534   189169             disabled  1527518181
1093359  162534   189169              robbery  1527518193

[1093360 rows x 4 columns]

movies
--------
       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
62418                                        Drama
62419                                  Documentary
62420                                 Comedy|Drama
62421                           (no genres listed)
62422                       Action|Adventure|Drama

[62423 rows x 3 columns]

links
--------
       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

[62423 rows x 3 columns]

g tags
--------
      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

g scores
--------
          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [42]:
ratings.corr()

             userId   movieId    rating  timestamp
userId     1.000000 -0.004413  0.001940  -0.001671
movieId   -0.004413  1.000000 -0.009216   0.520900
rating     0.001940 -0.009216  1.000000   0.010015
timestamp -0.001671  0.520900  0.010015   1.000000

# 2) - Data Preprocessing

## 1- get features of movies
   The column 'genre' of the dataframe `movies` has differents features of movies that we want to extract
   'genre' columns can have a value like : `Adventure|Animation|Children|Comedy|Fantasy`. Each word separated by | are a feature of movies

In [5]:
# 
get_feat = get_features(movies)
genre_feat = get_feat.on_moviescsv()

## 2- define feature
Above, we extract features on 'genre' column for `movies dataframe`.
- `genre()` function create dataframe with feature genre columns as values binary number related with each movieId.

- `tag()` function create dataframe with tag name as features and relevance value of df related to each movieId.

In [6]:
def_feat = define_feature(genre_feat, movies, g_scores)
df_genre = def_feat.genre()

df_tag = def_feat.tag()

In [36]:
df_genre[df_genre['(no genres listed)'] == 1]

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
83773,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
84768,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
86493,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
87061,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
91246,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
209103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
209133,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
209151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
209169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [28]:
df_tag

,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
1,0.02875,0.02375,0.06250,0.07575,0.14075,0.14675,0.06350,0.20375,0.20200,0.03075,...,0.04050,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200
2,0.04125,0.04050,0.06275,0.08275,0.09100,0.06125,0.06925,0.09600,0.07650,0.05250,...,0.05250,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975
3,0.04675,0.05550,0.02925,0.08700,0.04750,0.04775,0.04600,0.14275,0.02850,0.03875,...,0.06275,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775
4,0.03425,0.03800,0.04050,0.03100,0.06500,0.03575,0.02900,0.08650,0.03200,0.03150,...,0.05325,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500
5,0.04300,0.05325,0.03800,0.04100,0.05400,0.06725,0.02775,0.07650,0.02150,0.02975,...,0.05350,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205072,0.02050,0.01775,0.11400,0.03650,0.31225,0.03675,0.10700,0.37925,0.01725,0.36350,...,0.18675,0.03650,0.03025,0.12900,0.13975,0.42425,0.03400,0.02350,0.41725,0.09100
205076,0.03825,0.03150,0.03200,0.05325,0.20850,0.07050,0.06625,0.27825,0.00950,0.02750,...,0.27775,0.03225,0.04675,0.03175,0.23025,0.06300,0.04175,0.04125,0.07275,0.02350
205383,0.04100,0.04025,0.02750,0.07850,0.19750,0.17825,0.17125,0.30475,0.16825,0.04850,...,0.16525,0.03250,0.02400,0.03575,0.20400,0.08525,0.04600,0.02900,0.11725,0.03925
205425,0.04525,0.04125,0.04250,0.07425,0.11550,0.10500,0.08275,0.13575,0.16125,0.05875,...,0.25075,0.04550,0.01425,0.03925,0.21700,0.06000,0.07250,0.01500,0.11050,0.02850
206499,0.10050,0.09325,0.02225,0.04550,0.21125,0.06125,0.10425,0.29750,0.12450,0.06700,...,0.12750,0.02750,0.02250,0.04200,0.17500,0.11000,0.04850,0.01325,0.14025,0.03350

In [7]:
# there are movies missed on df_tag, so we output all movies that on df_tag in df_genre, assigned df_genre_inter
# so the df_genre_inter + df_tag are the dataframe that have all available features, 
df_genre_inter = df_genre.loc[df_tag.index]
df_movies = pd.concat([df_genre_inter, df_tag], axis=1)
df_movies

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
1,1,1,1,1,1,0,0,0,0,0,...,0.04050,0.01425,0.03050,0.03500,0.14125,0.05775,0.03900,0.02975,0.08475,0.02200
2,1,0,1,0,1,0,0,0,0,0,...,0.05250,0.01575,0.01250,0.02000,0.12225,0.03275,0.02100,0.01100,0.10525,0.01975
3,0,0,0,1,0,1,0,0,0,0,...,0.06275,0.01950,0.02225,0.02300,0.12200,0.03475,0.01700,0.01800,0.09100,0.01775
4,0,0,0,1,0,1,1,0,0,0,...,0.05325,0.02800,0.01675,0.03875,0.18200,0.07050,0.01625,0.01425,0.08850,0.01500
5,0,0,0,1,0,0,0,0,0,0,...,0.05350,0.02050,0.01425,0.02550,0.19225,0.02675,0.01625,0.01300,0.08700,0.01600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205072,0,0,0,1,0,0,0,1,0,0,...,0.18675,0.03650,0.03025,0.12900,0.13975,0.42425,0.03400,0.02350,0.41725,0.09100
205076,0,0,0,0,0,0,1,0,0,0,...,0.27775,0.03225,0.04675,0.03175,0.23025,0.06300,0.04175,0.04125,0.07275,0.02350
205383,0,0,0,0,0,0,1,0,1,1,...,0.16525,0.03250,0.02400,0.03575,0.20400,0.08525,0.04600,0.02900,0.11725,0.03925
205425,0,0,0,1,0,0,0,0,0,0,...,0.25075,0.04550,0.01425,0.03925,0.21700,0.06000,0.07250,0.01500,0.11050,0.02850
206499,0,0,0,1,0,0,0,0,0,0,...,0.12750,0.02750,0.02250,0.04200,0.17500,0.11000,0.04850,0.01325,0.14025,0.03350

In [10]:
nbre_feature = df_movies.shape[1]
nbre_user = 162541

W, B = initialize_param(nbre_feature, nbre_user)

In [25]:
print('W : ', W, '\n')
print('B : ', B)

W :  [[-0.68789681  0.26466034 -0.64979842 ...  1.18989026 -0.84437276
   0.42529743]
 [-1.25404757  0.01851167  0.02288491 ...  0.5177258  -0.74603925
   0.90323847]
 [ 0.19442022 -0.63373241  0.5299583  ... -0.0588082  -1.46642893
  -2.55090341]
 ...
 [-0.82040394  0.17651032 -0.16302809 ...  0.10478644  0.55426654
   0.01397307]
 [ 0.00809676  0.11261917 -0.14408577 ... -1.60235657 -0.13152347
   0.54664992]
 [-0.13192357  1.40689812 -0.60501103 ... -1.29605853 -1.06747396
  -0.71263021]]

B :  [-0.85410505  1.51221615  0.66111605 ...  0.20390797 -2.01169435
  0.32656331]

In [26]:
W, B = grad_descent(W, B, df_movies, ratings, 0.1, 50)

KeyboardInterrupt: